@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.ScoreBoard{
    width: 90vw;
    height: 7vh;
    background-color: #024264;
    border-radius: 2rem;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--accent-1);
    font-size: 16px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    

    div{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .current-score{
        border-right: 1px solid var(--accent-1)
    }

    .best-score{
        border-left: 1px solid var(--accent-1);
    }

}

@media only screen and (min-width: 1024px){
    .ScoreBoard{
        width: 40vh;
    }
}